@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&family=Montserrat:wght@500&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;800&display=swap');
:root{
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:required {
    box-shadow:none;
}
html{
  --changeColor: #964f4c;
  --a:#efc050;
  --b:#964f4c;
  --c:#c60021;
  --d:#019875;
  --e:#ff6f61;
  --f:#5f4b8b;
  --g:#88b04b;
  --h:#ad5e99;
  --i:#009473;
  --j:#dd4124;
  --k:#7bc4c4;
  --l:#0f4c81;
}
body{
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
  background-color: #efeeee;
  overflow-x: hidden;
}

nav{
  position: absolute;
  left: 50%;
  top: 0%;
  height: 10%;
  width: 100%;
  transform: translate(-50%, 0);
}

.nul{
  list-style: none;
  position: absolute;
  left: 85%;
  top: 50%;
  height: 100%;
  width: 20%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nli{
  position: relative;
  font-size: 20px;
  overflow: hidden;
}

.nli a{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #888;
}

#nlia1, #nlia2{
  transition: all .4s cubic-bezier(0.96,0.24,0.27,0.99);
}
#nli1:hover #nlia1, #nli2:hover #nlia2{
  transform: translate(0, -100%);
}
#nli1:hover::before, #nli2:hover::before{
  transform: translate(-50%, -150%);
}


#nli1::before{
  cursor: pointer;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 20px;
  content:'sign up';
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  transition: all .4s cubic-bezier(0.96,0.24,0.27,0.99);
}
#nli2::before{
  cursor: pointer;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 20px;
  content:'sign in';
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  transition: all .4s cubic-bezier(0.96,0.24,0.27,0.99);
}

header{
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.hed_h1{
  font-family: 'Piazzolla', serif;
  font-size: 200px;
  opacity: .8;
  text-transform: capitalize;
}
.hed_h1 span{
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  opacity: .4;
  text-transform: capitalize;
}
.hed_discrip{
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: var(--changeColor);
  letter-spacing: 3px;
  text-transform: capitalize;
}
footer{
  font-family: 'Nunito', sans-serif;
  position: absolute;
  top: 1000px;
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  background-color: #f8f9fa;
  z-index: 3;
  box-shadow: 0 -20px 40px -15px #d1cdc7;
}
.fcontainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;

}
.mcont{
  margin: 22px 0;
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content:  flex-start;
  box-sizing: border-box;
  border-top: solid #f2f2f2;
  border-bottom: solid #f2f2f2;
}
.dcont{
  position: relative;
  width: 35%;
  height: 10%;
  box-sizing: border-box;
}
.ucont{
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.legal{
  width: 45%;
  height: 50%;
  text-align: center;
  color: #999;
  box-sizing: border-box;
}
.fhed{
  cursor: pointer;
  width: 45%;
  line-height: 30px;
  height: 80%;
  font-size: 35px;
  box-sizing: border-box;
  color: #5f6368;
}
.row{
  font-size: 20px;
  position: relative;
  width: 25%;
  height: 100%;
}
.ful{
  list-style: none;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.findex{
  margin: 20px 0;
  transition: all .4s;
}
.findex a{
  text-decoration: none;
  color: #777;
  text-transform: capitalize;
  cursor: pointer;
  transition: all .2s;
}
.findex a:hover{
  color: #333;
}
.fiheader{
  color: #e2e2e2 !important;
  font-weight: bolder;
  font-size: 20px;
}
.socialmedia{
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.sm:hover{
  color: #333;
}
.sm{
  font-size:24px;
  color:#999;
  text-decoration:none;
  transition: all .2s;
}

.Sheader{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
  transition: all .4s;
}

.Shed{
  position: absolute;
  width: 100%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Piazzolla', serif;
  font-size: 60px;
  text-transform: capitalize;
  transition: all .4s;
}
.Sp{
  position: absolute;
  top: 35%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: var(--changeColor);
  letter-spacing: 9px;
  text-transform: capitalize;
}
.SignUpForm{
  display: none;
}

.Sform, .Nform{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
  transition: all .5s;
}
.sform, .nform{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80%;
  text-align: center;
}
.in{
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: solid .3px #999;
  padding: 0 20px;
  outline: none;
  background-color: #efeeee;
}
.d{
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
  margin-bottom: 40px;
}
.dn{
  top: 30%;
}
.d::before{
  content: '';
  position: absolute;
  top: 97.5%;
  transform: translate(-50%, -50%);
  width: 0%;
  left: 50%;
  bottom: 0;
  height: 5px;
  background-color: var(--changeColor);
  transition: all .4s cubic-bezier(0.92,0.23,0.42,0.99);
}
.d:focus-within::before{
  width: 100%;
}

.Serror, .Nerror{
font-family: 'Piazzolla', serif;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 60%;
  height: 60px;
  color: var(--changeColor);
}
.Nerror{
  top: 70%;
}
.sinfo{
  opacity: .6;
  font-family: 'Piazzolla', serif;
  position: absolute;
  top: 70%;
  left: 78%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 20%;
  height: 60px;
}
.sinfo a{
  color: black;
  transition: all .2s;
}
.sinfo a:hover{
  opacity: .4;
}
.addprofpic{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  text-align: center;
  border: solid black;
  border-radius: 30px;
  transition: opacity .4s;
  border-color: #aaa;
  display: none;
  opacity: 0;
}
#ufile{
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid black;
  opacity: 0;
  border-color: var(--changeColor);
}
.ufcon{
  cursor: pointer;
  background-color: #f1f1f1;
  display: block;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid black;
  border-color: var(--changeColor);
  text-align: center;
  overflow: hidden;
}
.ufcon img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height:110%;
  filter: opacity(.4);
}
.profpic{
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: var(--changeColor);
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 50%;
  height: 21%;
  border-radius: 10px;
  border: solid .3px #999;
  padding: 0 20px;
  margin-top: 20px;
  cursor: pointer;
}
.desc{
  font-family: 'Nunito', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  width: 80%;
  height: 21%;
  padding: 0 20px;

}
.skip1, .skip2{
  font-family: 'Nunito', sans-serif;
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  width: 8%;
  height: 5%;
  padding: 0 20px;
  color: var(--changeColor);
  cursor: pointer;
  display: none;
}
.skip2{
  display: none;
  opacity: 0;
}
.skip2 a{
  color: var(--changeColor);
  text-decoration: none;
}
.skip1:hover{
  opacity: .6;
}
.skip2:hover{
  opacity: .6;
}
.Uinfo{
  display: none;
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-50%, 0);
  width: 50%;
  height: 0;
  border-right: solid #eee;
  transition: all .5s;
}
#bios{
  max-width: 600px;
  height:100px;
  resize: none;
}
.chars{
  position: absolute;
  top: 103%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 5%;
  opacity: .3;
  text-align: right;
  background: none;
}
.updateprof{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  opacity: 0;
  transition: all .5s;
}
#Ss, #Ss2, #Ns{
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: var(--changeColor);
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 290px;
  height: 55px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  margin-top: 20px;
  overflow: hidden;
  outline: none;
}
#Ns{
  top: 80%;
}

#Ssi, #Ssi2, #Nsi{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 0;
  width: 0;
  background-color: #85091e;
  transition: all .9s;
  outline: none;
}
#Nsi{
  top: 40%;
}

#Ss2{
  top: 110%;
}
.form2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80%;
  text-align: center;
}

#code{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#getcode{
  text-align: center;
}
#CodeS{
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: var(--changeColor);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 50%;
  height: 10%;
  border-radius: 10px;
  border: solid .3px #999;
  padding: 0 20px;
  margin-top: 20px;
  cursor: pointer;
}
.Sform2{
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
  opacity: 0;
  transition: all .3s;
}
.form2 label{
  font-family: 'Piazzolla', serif;
  font-size: 60px;
}
.c1{
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 900px;
  height: 900px;
  box-shadow: inset 10px 10px 10px -7px #d1cdc7, inset -10px 10px 10px -7px #fff;
}
.c2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 700px;
  height: 700px;
  box-shadow: inset 10px 10px 10px -7px #d1cdc7, inset -10px 10px 10px -7px #fff;
}
.c3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 500px;
  height: 500px;
  box-shadow: inset 8px 8px 8px -7px #d1cdc7, inset -8px 8px 8px -7px #fff;
}
.c4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: inset 4px 4px 4px #d1cdc7, inset -4px 4px 4px #fff;
}
.c5{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: inset 2px 2px 2px #d1cdc7, inset -2px 2px 2px #fff;
}
.sun{
  position: absolute;
  top: 40%;
  left: 0%;
  width: 100px;
  height: 100px;
  z-index: 2;
  perspective: 100px;
  transition: all .2s;
}
.sun2{
  position: absolute;
  top: 20%;
  left: 68%;
  width: 100px;
  height: 100px;
  z-index: 2;
  perspective: 100px;
  transition: all .2s linear;
}
.cloud{
  font-size:700px;
  color: #efeeee;
  text-shadow: 17px 17px 17px #d1cdc7, -7px -7px 17px #fff;
}
.saturn{
  position: absolute;
  top: 10%;
  left: 60%;
  width: 100px;
  height: 100px;
  z-index: 2;
  transition: all .2s linear;
}
.saturn img{
  position: absolute;
  top: -100px;
  left: 50%;
  width: 600px;
  height: 600px;
  transition: all .2s linear;
  filter: invert(.935) drop-shadow(15px 15px 15px  #d1cdc7) drop-shadow(-10px -10px 10px #fff);
  animation: saturn 2s infinite alternate ease-in-out;
}
@keyframes saturn {
  from{top:-100px;}
  to{top: -75px;}
}
/*____________________________Main Page_______________________________________*/
.maincont{
  display: none;
}
.new{
  cursor: pointer;
  position: absolute;
  top: 87%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  background-color: var(--changeColor);
  box-shadow: 5px 5px 10px #d1cdc7,-2px -2px 10px #fff;
  z-index: 1;
}
.newcont{
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  transform: translate(-50%, -50%);
}
.mainsec{
  position: absolute;
  top: 52%;
  left: 50%;
  width: 54%;
  height: 85%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #f6f6f6;
}
.rnav{
  position: absolute;
  top: 52%;
  left: 88%;
  width: 17%;
  height: 85%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #f6f6f6;
  perspective: 1000px;

}
.lnav{
  position: absolute;
  top: 52%;
  left: 12%;
  width: 19%;
  height: 85%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #f6f6f6;
  perspective: 1000px;
}
.pimg{
  background: linear-gradient(145deg, #ddd, #fff);
  position: absolute;
  top: 12%;
  left: 50%;
  width: 250px;
  height: 250px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 20px 50px #d1cdc7;
  cursor: pointer;
  transition: all .3s;
}
.pimg:hover{
  transform: translate(-50%, -50%)  translateZ(40px);
}
.pimg img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 115%;
  height: 115%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.acInfo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 95%;
  height: 40%;
  transform: translate(-50%, -50%);
}
.blackArea, .blackArea2, .blackArea3{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: black;
  z-index: -2;
  opacity: 0;
  transition: opacity .4s;
}
.blackArea3{
  transition: none;
}
.writePost{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 45%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 3;
  box-shadow: 10px 10px 40px #555;
  border-radius: 10px;
  overflow: hidden;
  transition: all .4s;
  display: none;
}
.writePost textarea {
  outline: none;
  border-radius: 10px;
  border: none;
  font-family: 'Piazzolla', serif;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  resize: none;
  transform: translate(-50%, -50%);
}
.emoji{
  cursor: pointer;
  padding-right: 17px;
  text-align: right;
  position: absolute;
  top: 40%;
  left: 0%;
  width: 80px;
  height: 70px;
  transform: translate(-50%, -50%);
  border-radius: 35px;
  background-color: var(--changeColor);
  transition: all .4s;
}
.emoji:hover{
  transform: translate(-25%, -50%);
}
.fileSkin:hover{
  transform: translate(-25%, -50%);
}
.fileSkin{
  cursor: pointer;
  padding-right: 17px;
  text-align: right;
  position: absolute;
  top: 60%;
  left: 0%;
  width: 80px;
  height: 70px;
  transform: translate(-50%, -50%);
  border-radius: 35px;
  background-color: var(--changeColor);
  transition: all .4s;
}
.file{
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 0%;
  width: 80px;
  height: 70px;
  transform: translate(-50%, -50%);
  z-index:1;
  display: none;
}
.fileUp{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10%;
  height: 10%;
  transform: translate(-50%, -50%);
  z-index:5;
}
.sEnd{

}
.sendPost{
  outline: none
  font-size: 20px;
  position: absolute;
  top: 70%;
  left: 70%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  border-top-left-radius: 60px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 44px;
  border-bottom-right-radius:80px;
  background-color: var(--changeColor);
  color: white;
  border: none;
  transition: all 1s;
  cursor: pointer;
}
.sendPost:hover{
  animation: send 4s alternate infinite;
  border-top-left-radius: 198px;
  border-top-right-radius: 172px;
  border-bottom-left-radius: 277px;
  border-bottom-right-radius:127px;
}
.postArea{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  overflow: auto;
}
.Post{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  width: 90%;
  border-bottom: solid #999;
  transition: all .2s;
}
.Post:hover{
  background-color: #fafafa;
}
.postAction{
  margin: 10px 10px 0 10px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content:  flex-end;
  align-items: center;

}
.posterInfo{
  width: 90%;
  height: 400px;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Pimg{
  text-align: center;
  width: 11%;
  height: 11%;
  overflow: hidden;
  border-radius: 50%;

}
.Pimg img{
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
}
.Pname{
  height: 55%;
}
.Pname h1:hover{
  text-decoration: underline;
}
.Pname h1{
  color: #333;
  font-size: 25px;
}
.Pname p{
  color: #999;
  font-family: 'Nunito', sans-serif;
}
.content{
  margin: 10px 10px;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  position: relative;
  width:90%;
  word-wrap: break-word;

}
.postDate{
  margin: 20px -10px;
  color: #aaa;
  position: relative;
  left: 2%;
  width: 30%;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;

}
.act{
  margin: 10px 10px 0px 50px;
  cursor: pointer;
  min-width: 20px;
}

.w{
  position: relative;
  top: 20px;
  left: 10px;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  transition: all .3s;
}
.bl{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .4s;
}
.Lk:hover{
  color:var(--changeColor) !important;
}
.Rp:hover{
  color: #996633 !important;
}
.Sv:hover{
  color: #00802b !important;
}
.Search{
  position: absolute;
  top: 6%;
  left: 50%;
  width: 90%;
  height: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 4%;
}
#search{
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px 20px;
  transition: all .5s cubic-bezier(0.89,0.3,0.13,1.01);
}
.SResC{
  position: absolute;
  top: 9.2%;
  left: 50%;
  transform: translate(-50%,0);
  width: 81%;
  height: 0;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  background-color: white;
  transition: all .5s cubic-bezier(0.89,0.3,0.13,1.01);
}
.SRC{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  height: 96%;
  overflow: auto;
  perspective: 20px;
  display: none;
}
.SRes{
  cursor: pointer;
  margin-bottom: 20px;
  top: 60px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  min-height: 90px;
  background-color: #f6f6f6;
  border-radius: 10px;
  transition: all .4s;
}
.Uimg{
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translate(-50%, -50%);
  width: 9%;
  height: 9%;

}
.Uimg img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}
.Uname{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 55%;
}
.Uname h1{
  color: #333;
  font-size: 20px;
}
.Uname p{
  color: #999;
}
.menuicon, .homeicon, .timelineicon{
  box-sizing: content-box;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: all .4s;
}
.homeicon{
  left: 8%;
}
.timelineicon{
  left: 11%
}
.menuicon:hover{
  background-color: #ffcccc;
  border: solid var(--changeColor) .2px;
}
.homeicon:hover{
  background-color: #ffcccc;
  border: solid var(--changeColor) .2px;
}
.timelineicon:hover{
  background-color: #ffcccc;
  border: solid var(--changeColor) .2px;
}
#menuicon, #homeicon, #timelineicon{
  line-height: 45px;
  cursor: pointer;
  font-size: 30px;
  color: #888;
  transition: all .3s;
}
#menuicon:hover{
  color: var(--changeColor);
}
#homeicon:hover{
  color: var(--changeColor);
}
#timelineicon:hover{
  color: var(--changeColor);
}
.menu{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 62%;
  z-index: 3;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.secr,.secl{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  height: 100%;
  perspective: 10px;
}
.secl{
  width: 10%;
}
.rsect, .rsecb{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60%;
}
.rsecb{
  height: 40%;
}
.rtsecr, .rtsecl{
  position: relative;
  width: 50%;
  height: 100%;
  perspective: 10px;
}
.rtsecl{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding-top: 10px;
}
.profCont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(-1.5px);
  width: 95%;
  height: 95%;
  border-radius: 15px;
  background-color: #f6f6f6;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .5) ;
  opacity: 0;
  transition: transform .5s, opacity .5s;
  font-weight:
}
.Usinfo{
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 30%;
}
.Usinfo h3{
  color: #888;
  text-align: left;
  margin: 8px 40px;
}
.Cacuser{
  text-align: center;
  margin-bottom: 10px;
}
#cacuser{
  color: #999;
}
.FollowB{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--changeColor);
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;


}
.usrInfo , .CusrInfo{
  transform:  translateZ(1.5px);
  position: relative;
  background-color: #f6f6f6;
  padding: 10px 10px;
  width: 95%;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .5) ;
  opacity: 0;
  transition: transform .5s, opacity .5s;
}
.CusrInfo{
  transform:  translateZ(0);
  opacity: 1;
  box-shadow: 2px 2px 10px #999;
  margin-bottom: 20px;
  width: 120%;
}
.usrInfo span{
  cursor: default;
  margin-left:50px;
  color: #999;
  font-size: 15px;
}
.CusrInfo span{
  cursor: default;
  margin-left:50px;
  color: #999;
  font-size: 15px;
}
.usrInfo p{
  cursor: default;
  margin:10px 50px;
  color: #666;
  font-size: 20px;
  word-wrap: break-word;
}
.CusrInfo p{
  cursor: default;
  margin:10px 50px;
  color: #666;
  font-size: 20px;
  word-wrap: break-word;
}
.flw{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.flwr, .flwg{
  text-align: center;
}
.flwr span, .flwg span{
  margin: 0;
}
.controlnav{
  padding-left: 2px;
  position: absolute;
  top: 50%;
  left: 14%;
  opacity: 0;
  transform: translate(0%, -50%) translateZ(1.5px);
  width: 70%;
  height: 96%;
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .5) ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  transition:opacity .5s, transform .4s cubic-bezier(0.74,0.14,0.57,1), width .4s cubic-bezier(0.99,0.45,0.31,0.63) .4s;
}

.cn{
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
}
.fa{
  display: inline-block;
  color: #999;
  transition: all .2s;
}
.fa:hover{
  color: #333;
}

#j:hover{
  color: #333;
}
#j{
  font-size:44px;
  color: #999;
  transition: all .2s;
}
.LCC, .RCC, .SCC{
  position: relative;
  color: #999;
  font-size: 20px;
  top: -20px;
  left: 125%;
  transform: translate(0%, 0);
}
.SCC{
  left: 135%;
}
.asyncInfo{
  position: absolute;
  width: 350px;
  height: 280px;
  background-color: #f6f6f6;
  box-shadow: 7px 7px 20px #999;
  border-radius: 10px;
  z-index: 11;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:  flex-start;
  padding: 10px;
  transition: all .4s cubic-bezier(0.92,0.2,0.43,0.7);
}
.Anm{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:  flex-start;
  width: 100%;
}
.Aimg{
  text-align: center;
  width: 70px;
  height:70px;
  overflow: hidden;
  border-radius: 50%;

}
.Aimg img{
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 70px;
  height: 70px;
}
.Abio{
  color: #bbb;
  cursor: default;
  padding: 5px 10px;
  border-top: solid #999;
  width: 80%;
  border-width: thin;

}
.Aname h1:hover{
  color: #111;
}
.Aname h1{
  color: #333;
  font-size: 25px;
  cursor: pointer;
}
.Aname p{
  margin: 5px 0;
  cursor: default;
  color: #999;
  font-family: 'Nunito', sans-serif;
}
.Aflw{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.Aflr, .Aflg{
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.ABut{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.AFollowB{
  width: 45%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--changeColor);
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.hash_tag{
  color: var(--changeColor);
}
.hash_tag:hover{
  text-decoration:underline;
}
.at_sign{
  color: var(--changeColor);
}
.at_sign:hover{
  text-decoration:underline;
}

















@media screen and (max-width: 1000px) {
  .rnav{
    display: none;
  }
  .lnav{
    display: none;
  }
  .mainsec{
    width: 98%;
  }
  .Sheader{
    top: 30%;
    left: 50%;
    width: 100%;
    height: 20%;

  }
  .Shed{
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Piazzolla', serif;
    font-size: 110px;
    text-transform: capitalize;
    transition: all .4s;
  }
  .Sp{
    position: absolute;
    top: 68%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: var(--changeColor);
    letter-spacing: 9px;
    text-transform: capitalize;
  }
  .Sform{
    top: 60%;
    left: 50%;
    width: 100%;
    height: 60%;
  }
  .Nform{
   top: 50%;
   left: 50%;
   width: 100%;
   height: 80%;
 }
 .saturn{display: none;}
  .sform, .nform{
    top: 50%;
    left: 50%;
    width: 100%;
    height: 80%;
  }
  .in{
    font-size: 40px;
    width: 100%;
    height: 130px;
    border: none;
    border-bottom: solid .3px #999;
    padding: 0 20px;
    outline: none;
    background-color: #efeeee;
  }
  .d{
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    margin-bottom: 40px;
  }
  .dn{
    top: 40%;
  }
  .Serror, .Nerror{
  font-family: 'Piazzolla', serif;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 60%;
    height: 60px;
    color: var(--changeColor);
  }
  .Nerror{
    top: 70%;
  }
  #Ss, #Ss2{
    top: 800px;
    left: 50%;
    font-size: 60px;
    width: 80%;
    height: 130px;
    border-radius: 10px;
    padding: 0 20px;
    margin-top: 30px;
  }
  .sinfo{
    opacity: .6;
    font-family: 'Piazzolla', serif;
    position: absolute;
    top: 1650px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 100%;
    height: 10px;
    text-align: center;
  }
  #Ns{
    top: 90%;
    left: 50%;
    font-size: 60px;
    width: 80%;
    height: 130px;
    border-radius: 10px;
    padding: 0 20px;
    margin-top: 30px;
  }

  #Ssi, #Ssi2, #Nsi{
    top: 30%;
    left: 50%;
    border-radius: 50%;
    height: 0;
    width: 0;
  }
  #Nsi{
    top: 40%;
  }

  #Ss2{
    top: 110%;
  }
}
